@model Note 
<h4>Searching</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewResultsTitle">
            <div class="form-group">
                <label for="male">search by title</label>
                <input name="searchingtitle" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Go Search!" class="btn btn-primary" />
                
            </div>
        </form>
        <form asp-action="ViewResultsTag">
            <div class="form-group">
                <label for="male">search by tag</label>
                <input name="searchingtag" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Go Search!" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="ViewResultsText">
            <div class="form-group">
                <label for="male">search by text inside note</label>
                <input name="searchingtext" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Go Search!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

